.body {
  background: #2d2d30;
}

.footer {
  background: #2d2d30;
  color: white;
  padding-top: 2em;
  padding-bottom: 1em;
}

.footer a {
  color: #d9ccee;
  margin: 0em;
}

.jumbotron {
  background: #2d2d30;
  color: white;
  padding-top: 8em;
  padding-bottom: 8em;
  height: 50%;
}
  
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; }

.jumbotron .btn-primary:hover {
  background: #7646c1; }

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }

.navbar {
  background: #2d2d30;  
  margin-bottom: 0;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar a {
  color: #d9ccee;
}

#geochart {
  width: auto;
  margin: 0 auto !important;
  max-width: 70%;
}

#map {
  padding-top: 4em;
  padding-bottom: 4em;
  height: 50%;
}

#button {
  margin-top: 2em;
}

.btn {
  margin-top: 1em;
}